table {
  width: 95%;
}

.example-section {
  display: inline-block;
}

.ranking-content {
  width: 95%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 600px;
}

.ranking-variaveis {
  width: 100%;
}

.mat-column-rank {
  flex: 0 0 15%;
}

.mat-column-nome {
  flex: 0 0 55%;
}

.mat-column-valor {
  flex: 0 0 15%;
}

.ranking {
  background-color: white;
}
