<mat-card class="mat-elevation-z1 example-container" style="margin-left: 20px; display: flex">
      <mat-form-field>
        <input matInput placeholder="Nome da variável" [(ngModel)]="this.variavelParaEdicao.nome">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Peso" [(ngModel)]="this.variavelParaEdicao.peso">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Posição" [(ngModel)]="this.variavelParaEdicao.posicao">
      </mat-form-field>
</mat-card>
